[package]
name        = "sagan"
version     = "0.0.0"
description = "Observability tool for Cosmos and other Tendermint applications"
authors     = ["Tony Arcieri <tony@iqlusion.io>", "Shella Stephens <shella@iqlusion.io>"]
license     = "Apache-2.0"
repository  = "https://github.com/iqlusioninc/sagan"
readme      = "README.md"
edition     = "2018"
keywords    = ["cosmos", "tendermint"]

[dependencies]
abscissa_core = "0.5"
abscissa_tokio = "0.5"
gumdrop = "0.7"
home = "0.5"
serde = { version = "1", features = ["serde_derive"] }
serde_json = { version = "1" }
tendermint = "0.16"
tendermint-rpc = { version = "0.16", features = ["client"] }
reqwest = "0.10"
thiserror = "1"
toml = "0.5"
tokio = "1.4"
warp = "0.1"

[dev-dependencies]
once_cell = "1"

[dev-dependencies.abscissa_core]
version = "0.5.0"
features = ["testing"]
