# Example Sagan configuration file

[agent]
node_home = "/{your-gaiad-home}/cosmoshub-2" # path to e.g. gaiad's --home

[collector]
listen_addr = "127.0.0.1:31023"

[collector.networks]
tendermint = ["cosmoshub-2"]

[events]
query = "tm.event='NewBlock'"

[rpc]
rpc_addr = "tcp://127.0.0.1:26657"